.topbar{
    height: 60px;
    display: flex;
    align-items: center;
    background-color: rgba(242, 153, 74, 0.2);
    width: 100vw;
  margin-bottom: 30px;
    
}
.topbar__logo{
    
margin: 0 20px;
margin-left: 10%;
 
color: rgb(49, 42, 42);
  
}

.topbar__logo2{
    margin: 0 20px;
   
    margin-left: 65%;
    color: rgb(49, 42, 42);
      
    }

.topbar__option{
     margin-left: 12%;
}